
.jumbo-image-1, .jumbo-image-2, .footer-image {
    color: black; 
    background-repeat: no-repeat;
    background-size: 100%;
}
.jumbo-image-1 {
    background-image: url("Bilder/Background/images7.jpg");
    border-top: 10px ridge aqua;
    border-bottom: 10px ridge aqua;
    border-left: 15px ridge cyan;
    border-right: 15px ridge cyan;
    border-radius: 25px;
}
.jumbo-image-2 {
}

/* Bild till Index.html */

.image-1 {

	font-family: Roboto;
	font-weight: bold;
	color:  black;
	border-top:7px ridge lightcyan;
	border-bottom: 7px ridge lightcyan;
	border-left: 2px double sandybrown;
	border-right: 2px double sandybrown;
	border-radius: 40px;

}
/* Border till alla divar som använder class="thumbnail"  */

.thumbnail {
            border:4px groove gray;
            height:400px;

        }

.footer-image {
	background-image: url("Bilder/Logo/sword-wallpapers.jpg");
	color: white;
}

.link1 {
    color: white;
}








